@import 'vars'

button  
  cursor: pointer 
 
.welcome__main h3,
.login__title  
  color: $color-dark-violet 
  font-family: $font-family-inter
  font-size: 20px 
  font-style: normal 
  font-weight: 600 
  line-height: 26px 
  letter-spacing: 0.2px 
  text-align: left 

.welcome__main span  
  color: $color-light-text 
  font-family: $font-family-inter
  font-size: 12px 
  font-style: normal 
  font-weight: 400 
  line-height: normal 
  margin-bottom: 12px 

.user_login  
  background-color: #6300A0 
  border: none 
 
.welcome,
.login  
  width: 730px 
  height: 574px 
  border: 1px solid #6300A0 
  border-radius: 16px 
  background: $color-white
  margin: 5% auto 
  position: absolute 
  z-index: 1 
  left: 25% 

.close  
  border: none 
  background-color: transparent 
  height: 35px 
  padding: 0 
  font-size: 2.3rem 
  position: relative 
  bottom: 117% 
  left: 94% 
  z-index: 5 

.close__login  
  bottom: -2% 
  left: 43% 

.animals_welcome  
  width: 342px 
  height: 342px 
 
.login__animals-hello  
  width: 318px 
  height: 318px 
  position: relative 
  top: 100px 
  left: 7% 
  z-index: 3 

.welcome__main  
  display: flex 
  flex-direction: column 
  align-items: center 
  margin: 60px auto 
  position: relative 
  z-index: 3 

.login__main  
  z-index: 3 

.login  
  display: flex 

.repeat_password
  color: $color-dark_violet
  text-align: left
  font-family: $font-family-nunito
  font-size: 12px
  font-style: normal
  font-weight: 400
  line-height: normal
  display: block

.circle  
  position: absolute 
  border-radius: 50% 
  transition: all 2s ease-in-out 
  animation-play-state: running 

.animation_circle  
  position: relative 
  height: 570px 
  margin: 0 auto 
  z-index: 2 

.big  
  width: 730px 
  bottom: 720px 

.small  
  width: 370px 
  bottom: 320px 

.login__form-wrapper  
  height: 100% 
  margin: 60px 0 60px 
  max-width: 350px 
  text-align: center 

.login__forgot_link  
  color: $color-violet
  font-family: $font-family-inter
  font-size: 12px 
  font-style: normal 
  font-weight: 500 
  line-height: 14px 
  letter-spacing: 0.24px 
  opacity: 0.45 
  border: none 
  background-color: transparent 
  text-decoration: underline 
  width: 170px 
  margin-top: 24px

.login__or  
  display: flex 
  justify-content: space-between 
  color: $color-light-text 
  align-items: center 
  margin: 24px 0

#email,
#password,
#passwordFirst,
#passwordSecond  
  border-radius: 8px 
  border: 1px solid $color-light-grey-stroke 
  padding: 8px 12px 
  width: 276px 
  height: 24px 
 
.login__password-icons  
  background-color: transparent 
  border: none 
  position: relative 
  bottom: 35px 
  left: 130px 
 
.login__submit_button  
  border-radius: 8px 
  background: #F99B2A 
  width: 302px 
  height: 40px 
  border: none 
  color: $color-white
  font-family: $font-family-inter
  font-size: 14px 
  font-style: normal 
  font-weight: 700 
  line-height: 21px 
  letter-spacing: 0.42px 
 
.login__svg  
  width: 30px 
  left: 267px 

.login__register-link-button  
  display: flex 
  gap: 4px 
  border: none 
  background-color: transparent 
  border-radius: 8px 
  padding: 8px 
  color: #8611CD 
  text-align: center 
  font-family: $font-family-nunito
  font-size: 14px 
  font-style: normal 
  font-weight: 700 
  line-height: 17px 

.login__sign_social_button  
  display: flex 
  width: 302px 
  height: 40px 
  margin-bottom: 12px 
  padding: 8px 0 
  justify-content: center 
  align-items: center 
  border-radius: 8px 
  gap: 8px 
  border: 1px solid $color-light-grey-stroke 
  background: #FFF 

.login__register-link  
  color: $color-light-text 
  font-family: $font-family-inter
  font-size: 12px 
  font-style: normal 
  font-weight: 400 
  line-height: normal 
  display: flex 
  align-items: center 
  justify-content: space-between

.Seller_wrapper_button  
  width: 145px 
  height: 65px 
  display: flex 
  align-items: center 
  justify-content: center 
  bottom: 320px 
  position: relative 
  left: 85px 
  z-index: 5 
  background: url('../images/login/cloudSeller.svg') no-repeat 
 
.Seller_button  
  margin-bottom: 5px 
  width: 85px 
  height: 32px 
  border: none 
  border-radius: 8px 
  background: #F99B2A 
  color: $color-white
  font-family: $font-family-nunito
  font-size: 14px 
  font-style: normal 
  font-weight: 700 
  line-height: 116% 
 
.Customer_wrapper_button,
    width: 145px 
    height: 65px 
    display: flex 
    align-items: center 
    justify-content: center 
    bottom: 450px 
    position: relative 
    left: 480px 
    z-index: 5 
    background: url('../images/login/cloudCustomer.svg') no-repeat 

.login__errors,
.password__errors  
  display: flex 
  justify-content: center 
  padding-top: 20px 
  z-index: 5 
  background: url('../images/login/cloudLoginErrors.svg') no-repeat 
  position: absolute 
  width: 200px 
  height: 90px 
  left: 180px 
  top: 95px 
  color: $color-Red 
  text-align: center 
  font-family: $font-family-nunito
  font-size: 13px 
  font-style: normal 
  font-weight: 600 
  line-height: 14px 
 
.password__errors  
  padding: 40px 20px 0 15px
  width: 170px 

.Customer_button  
  margin-bottom: 5px 
  width: 85px 
  height: 32px 
  border: none 
  border-radius: 8px 
  background: #E8C0FF 
  color: #8611CD 
  font-family: $font-family-nunito
  font-size: 14px 
  font-style: normal 
  font-weight: 700 
  line-height: 116% 